@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


.typewriter {
    overflow: hidden;
    border-right: 0.25rem solid #63b3ed;
    width: 0;
    white-space: nowrap;
    animation-delay: 4s;
    animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end 4;
}

@keyframes typing {
    from { width: 0; }
    to { width: 24ch; }
}

@keyframes blink-caret {
    0% { border-color: transparent;}
    50% { border-color: #63b3ed;}
    100% { border-color: transparent;}
}

.button:hover {
    transition: all;
    animation-duration: 300ms;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.button:active {
    transform: scale(0.95);
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,255,.4);
    cursor: pointer;
}
